body {
      text-align: center;
      font-family: 'Arial', sans-serif;
    }

.slide-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.slide {
  display: none; /* 기본적으로 모든 슬라이드는 숨김 */
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.nav-buttons {
  margin-top: 20px;
}

.nav-buttons button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}